* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	scroll-behavior: smooth;
}


.nav-item, .name-holder {
	font-size: 24px;
}

.name-holder {
	font-size: 24px;
}

.jumbotron{
	background-color: #181c24;
	height: 100vh;
	color: white;
	text-align: center;	


}

.jumbotron-text {
	font-size: 24px
	font-family: 'Open Sans Condensed', sans-serif;
}

.jumbotron-text h1{
	font-weight: bold;
	font-family: 'Open Sans Condensed', sans-serif;
}

main p {
	text-indent: 30px;
	font-size: 24px;
}

.title{
	font-weight: bold;
	font-family: 'Open Sans Condensed', sans-serif;
}

.form-group {
	text-align: left
}



footer {
	background-color: #383c44;
	color: white;
}

.icons {
	width: 25px;
	border-radius: 50px;
}

.image-holder {
		border-radius: 50%;
		border: 1px solid black;
		max-width: 300px;
		max-height: 300px;
	}


@media (max-width: 767px){
	.jumbotron {
		padding-top: 150px;
	}

	.image-holder {
		width: 300px;
		height: 300px;
		border-radius: 50%;
		border: 1px solid black;
	}

}


@media (min-width: 768px){
	.jumbotron {
		padding-top: 220px;
	}

	iframe {
		height: 85%;
		width: 95%;
	}
}

/*TEST AREA 51!!!!*/ 

.overlay {  
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 1;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


